@page "/register"
@using Savitar.WebAssembly.Services.Implementations
@using Microsoft.AspNetCore.Components
@using Savitar.Domain.Models
@layout MainLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
@attribute [AllowAnonymous]

<BasePage Title="Register">
    <div style="max-width: 400px;">
        <EditForm Model="Model" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator/>
            <MudCard>
                <MudCardContent>
                    @*<MudTextField Label="Username" HelperText="Max. 8 characters" @bind-Value="Model.Username" For="@(() => Model.Username)" />*@
                    <MudTextField Label="Email" @bind-Value="Model.Email" For="@(() => Model.Email)" />
                    <MudTextField Label="FirstName" @bind-Value="Model.FirstName" For="@(() => Model.FirstName)" />
                    <MudTextField Label="LastName" @bind-Value="Model.LastName" For="@(() => Model.LastName)" />
                    <MudTextField Label="Password" HelperText="Choose a strong password" @bind-Value="Model.Password" For="@(() => Model.Password)" InputType="InputType.Password" />
                    <MudTextField Label="Password" HelperText="Repeat the password" @bind-Value="Model.Password2" For="@(() => Model.Password2)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
        
        <MudDivider FlexItem="true" DividerType="DividerType.FullWidth" />
        <MudText>Already have an account? <MudLink Href="/login">Click here to login</MudLink></MudText>
    </div>
</BasePage>
@code{
    RegisterParameters Model { get; } = new RegisterParameters();

    async Task OnSubmit()
    {
        try
        {
            await authStateProvider.Register(Model);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Error);
        }
    }
}