@*
https://try.mudblazor.com/snippet/wOwFYVwVStTBSsPB
https://try.mudblazor.com/snippet/GamvuVmhzOTfEZde
*@

<MudGrid>
    <MudItem xs="12">
        <MudCard Outlined="true">
            <MudCardHeader class="pl-5 py-1" style="background-color: var(--mud-palette-background-grey)">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@Title</MudText>
                </CardHeaderContent>
                @*<CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>*@
            </MudCardHeader>
            <MudCardContent Class="pa-0">                
                <img src="@ImageSrc" class="cardImage">
                <div class="pa-4" style="float:left; max-width: 500px;">
                    <MudText>@Description</MudText>                    
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>    
</MudGrid>

<style>
    .cardImage {
        width: 256px;        
        object-fit: fill;
        float: left;
        padding: 4px;
    }
</style>








@*<div class="card">
    @if (Title != null)
    {        
        <h4 class="card-header">@Title</h4>        
    }
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="@ImageSrc" alt="" class="img-fluid cardWithSideImage">
        </div>
        <div class="col-md-10">            
            @if (Description != null)
            {
                <div class="card-block">
                    <span class="card-body">@Description</span>
                </div>
            }            
        </div>
    </div>
    @if (Footer != null)
    {
        <div class="card-footer w-100 text-muted">
            <span>@Footer</span>
        </div>
    }
</div>

<style>
    .cardWithSideImage {
        width: 95%;
        object-fit: fill;        
    }
</style>
*@
@code {
    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment Description { get; set; }
    [Parameter]
    public RenderFragment Footer { get; set; }
    [Parameter]
    public string ImageSrc { get; set; }
    [Parameter]
    public string ImageWidth { get; set; } = "100%";
    [Parameter]
    public int ImageHeight { get; set; } = 256;
}