@using Savitar.WebAssembly.Services.Implementations
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IdentityAuthenticationStateProvider _authStateProvider
@inject ISnackbar _snackbar

<MudThemeProvider Theme="currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudContainer Class="float-left">
            <MudNavLink Href="/">
                <img src="/Images/SavitarLogoHeader.png" alt="" width="143" height="55">
            </MudNavLink>
        </MudContainer>
        <MudSpacer />
        
        <AuthorizeView>
            <Authorized>
                <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick"><MudIcon Icon="@Icons.Material.Filled.Logout" /> Logout</button>
            </Authorized>
            <NotAuthorized>
                <button type="button" class="btn-link" @onclick="@LoginClick"><MudIcon Icon="@Icons.Material.Filled.Login" /> Login</button>
                @*<button type="button" class="btn-link" @onclick="@RegisterClick">Register</button>*@
            </NotAuthorized>
        </AuthorizeView>
        
        <MudButton OnClick="@((e) => ToggleDarkLightMode())"><img src="/Images/SunMoon.png" title="Toggle Dark/Light Modes" width="36" height="36" /></MudButton>
        <Contacts IsVertical="false" />        
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer Fixed="true">
            <div style="height: 5px" />
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    // Drawer logic
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    
    void LoginClick()
    {
        _navigationManager.NavigateTo("/login");
    }

    async Task LogoutClick()
    {
        await _authStateProvider.Logout();
        _navigationManager.NavigateTo("");
    }

    // Theme handling
    protected override void OnInitialized()
    {
        currentTheme = defaultTheme;
        ToggleDarkLightMode(); // Switch to Dark mode.
        _snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
    }

    void ToggleDarkLightMode()
    {
        if (currentTheme == defaultTheme)
        {
            currentTheme = darkTheme;
        }
        else
        {
            currentTheme = defaultTheme;
        }
    }

    MudTheme currentTheme = new MudTheme();
    MudTheme defaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#272c34"
        }
    };

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://wa.me/27609101010" target="_blank"><img src="/Images/Whatsapp.png" width="36" height="36" /></a>
            <a href="mailto:msmit@savitar.co.za" target="_blank"><img src="/Images/Email.png" width="36" height="36" /></a>
            <a href="tel:+27609101010" target="_blank"><img src="/Images/CallMe.png" width="36" height="36" /></a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@