@page "/login"
@using Savitar.WebAssembly.Services.Implementations
@using Microsoft.AspNetCore.Components
@using Savitar.Domain.Models
@layout MainLayout;
@inject NavigationManager _navigationManager;
@inject IdentityAuthenticationStateProvider _authStateProvider;


<BasePage Title="Login">
    <div style="max-width: 400px;">
        <EditForm Model="@Model" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Username" @bind-Value="Model.Email" For="@(() => Model.Email)" />
                    <MudTextField Label="Password" @bind-Value="Model.Password" For="@(() => Model.Password)" InputType="InputType.Password" />
                    <MudDivide />
                    <MudCheckBox @bind-Checked="@Model.RememberMe" Label="Remember Me!" Color="Color.Primary"></MudCheckBox>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                </MudCardActions>
            </MudCard>

            <MudText Color="@Color.Error">
                @*<ValidationSummary />*@
                <label>@Error</label>
            </MudText>
        </EditForm>
    </div>
</BasePage>

@code{
    LoginParameters Model { get; } = new LoginParameters();
    string Error { get; set; }
    
    async Task OnSubmit()
    {
        Error = null;
        try
        {
            await _authStateProvider.Login(Model);
            _navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }
}