@page "/register"
@using Savitar.WebAssembly.Services.Implementations
@using Microsoft.AspNetCore.Components
@using Savitar.Domain.Models
@layout MainLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider


<BasePage Title="Register">
    <div style="max-width: 400px;">
        <EditForm Model="Model" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator/>
            <MudCard>
                <MudCardContent>
                    @*<MudTextField Label="Username" HelperText="Max. 8 characters" @bind-Value="Model.Username" For="@(() => Model.Username)" />*@
                    <MudTextField Label="Email" @bind-Value="Model.Email" For="@(() => Model.Email)" />
                    <MudTextField Label="Password" HelperText="Choose a strong password" @bind-Value="Model.Password" For="@(() => Model.Password)" InputType="InputType.Password" />
                    <MudTextField Label="Password" HelperText="Repeat the password" @bind-Value="Model.Password2" For="@(() => Model.Password2)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Register</MudButton>
                </MudCardActions>
            </MudCard>
            
            <MudText Color="@Color.Error">
                @*<ValidationSummary />*@
                <label>@Error</label>
            </MudText>

            
            <NavLink href="/login">
                <h6>Already have an account? Click here to login</h6>
            </NavLink>
        </EditForm>
    </div>
</BasePage>
@functions{

    RegisterParameters Model { get; } = new RegisterParameters();
    string Error { get; set; }

    async Task OnSubmit()
    {
        Error = null;
        try
        {
            await authStateProvider.Register(Model);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }
}